/*
 * Critical CSS to minify and inline.
 */

/***********************************************************************
 * Table of Contents
 *
 * 1.0 Custom Fonts
 * 2.0 Document-Level Rules
 *   2.1 Custom Properties
 *   2.2 The `html` element
 * 3.0 Layout
 *   3.1 Grid
 *   3.2 Flexbox
 * 4.0 Images
 * 5.0 Typography
 * 6.0 Links
 * 7.0 Colors, Borders, and Shading
 *   7.1 Colors
 *   7.2 Borders
 *   7.3 Shading
 * 8.0 Media Queries
 **********************************************************************/

/***********************************************************************
 * 1.0 Custom Fonts
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face
 * https://www.zachleat.com/web/comprehensive-webfonts/
 **********************************************************************/

	/*
	 * Pittsburgh (Light, Light Italic, Semi Bold, and Semi Bold Italic)
	 * SIL Open Font License v1.10
	 * Derived from Metroplis by Chris Simpson
	 * https://www.fontsquirrel.com/fonts/metropolis
	 */
	@font-face {
		font-family: Pittsburgh;
		src:  url('/includes/assets/fonts/pittsburgh/pittsburgh-light.woff2') format('woff2'),
					url('/includes/assets/fonts/pittsburgh/pittsburgh-light.woff') format('woff');
	}

	/* Italic font */
	@font-face {
		font-family: Pittsburgh;
		src:  url('/includes/assets/fonts/pittsburgh/pittsburgh-lightitalic.woff2') format('woff2'),
					url('/includes/assets/fonts/pittsburgh/pittsburgh-lightitalic.woff') format('woff');
		font-style: italic;
	}

	/* Bold font */
	@font-face {
		font-family: Pittsburgh;
		src:  url('/includes/assets/fonts/pittsburgh/pittsburgh-semibold.woff2') format('woff2'),
					url('/includes/assets/fonts/pittsburgh/pittsburgh-semibold.woff') format('woff');
		font-weight: bold;
	}

	/* Bold italic font */
	@font-face {
		font-family: Pittsburgh;
		src:  url('/includes/assets/fonts/pittsburgh/pittsburgh-semibolditalic.woff2') format('woff2'),
					url('/includes/assets/fonts/pittsburgh/pittsburgh-semibolditalic.woff') format('woff');
		font-style: italic;
		font-weight: bold;
	}

/***********************************************************************
 * 2.0 Document-Level Rules
 **********************************************************************/

	/*
	 * 2.1 Custom Properties
	 *
	 * Custom color properties are from src/data/site.json
	 * and are added inline in JavaScript template files
	 *
	 * https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
	 */

		:root {
			/* Units */
			--base-unit: 1vmin;
			--base-unit-sixteenth: calc(var(--base-unit) / 16);
			--base-unit-eighth: calc(var(--base-unit) / 8);
			--base-unit-quarter: calc(var(--base-unit) / 4);
			--base-unit-half: calc(var(--base-unit) / 2);
			--base-unit-2x: calc(var(--base-unit) * 2);
			--base-unit-4x: calc(var(--base-unit) * 4);
			--base-unit-8x: calc(var(--base-unit) * 8);
			--paragraph-width: 66ch;
			--half-width: calc(var(--paragraph-width) / 2);
			/* Shading */
			--shadow: var(--base-unit-quarter) var(--base-unit-quarter) var(--base-unit-quarter) var(--black);
		}

	/*
	 * 2.2 The `html ` Element
	 */

		html {
			font-family: Pittsburgh, sans-serif;
			line-height: 1.5;
			/*
			 * Use smooth scrolling to page anchors by default
			 * https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
			 * https://gomakethings.com/smooth-scrolling-links-with-only-css/
			 */
			scroll-behavior: smooth;
		}

		@media screen and (prefers-reduced-motion: reduce) {
			html {
				scroll-behavior: auto;
			}
		}

		/*
		 * Show pointer for clickable DOM elements
		 * https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
		 */
		button:hover,
		summary:hover {
			cursor: pointer;
		}

/***********************************************************************
 * 3.0 Layout
 **********************************************************************/

	/*
	 * Universal box-sizing
	 * https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
	 */
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	/*
	 * 3.1 Grid
	 *
	 * https://developer.mozilla.org/en-US/docs/Glossary/Grid
	 */

			body {
				background: transparent;
				grid-template-columns: 1fr minmax(320px,var(--paragraph-width)) 1fr;
				grid-template-rows: min-content 1fr min-content;
				min-height: 100vh;
			}

			.grid {
				display: grid;
			}

			.grid-row-gap {
				grid-row-gap: var(--base-unit-4x);
			}

			.grid-column-gap {
				grid-column-gap: var(--base-unit-4x);
			}

			.grid-column-full-bleed {
				grid-column: 1 / -1;
			}

			.grid-column-content {
				grid-column: 2;
			}

			.grid-repeat-columns {
				grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
			}

			#site_header {
				grid-row: 1;
			}

			#site_main {
				grid-row: 3;
			}

			#site_footer {
				grid-row: 4;
			/*	grid-template-columns: 1fr max-content; */
			}

			#footer_branding {
				grid-row: 3;
				grid-column: 1 / -1;
			}

		/*
		 * 3.2 Flexbox
		 *
		 * https://developer.mozilla.org/en-US/docs/Glossary/Flexbox
		 */

			.flex {
				display: flex;
			}

			.flex-column,
		  #site_footer > .flex	{
				flex-direction: column;
			}

			.flex-wrap {
				flex-wrap: wrap;
			}

			/* Justification and Alignment */
			.space-around {
				justify-content: space-around;
			}

			.space-between {
				justify-content: space-between;
			}

			.justify-center,
			#site_footer .social-links {
				justify-content: center;
			}

			.align-items-center {
				align-items: center;
			}

			.align-self-end {
				align-self: end;
			}

			/*
			 * @todo move section style to home.css
			 */
			#site_header,
		  #site_header div	{
				justify-content: space-around;
			}

			/* Padding */
			.padding {
				padding: var(--base-unit);
			}

			.less-padding {
				padding: var(--base-unit-half);
			}

			.more-padding {
				padding: var(--base-unit-2x);
			}

			/* Margin */
			.margin {
				margin: var(--base-unit);
			}

			.more-margin {
				margin: var(--base-unit-2x);
			}

			.no-margin {
				margin: 0;
			}

			.margin-top {
				margin-top: var(--base-unit-2x);
			}

			.margin-right {
				margin-right: var(--base-unit-2x);
			}

			.margin-bottom {
				margin-bottom: var(--base-unit-2x);
			}

			.margin-left {
				margin-left: var(--base-unit-2x);
			}

			/*
			 * @todo move to home.css
			 */
			.home #site_header {
				min-height: 100vh;
				display: grid;
				grid-template-columns: 100%;
			}

/***********************************************************************
 * 4.0 Images
 **********************************************************************/

	img {
		color: var(--gray);
		width: inherit;
		max-width: 100%;
	}

	figure {
		margin: 0;
		width: 100%;
	}

	picture {
		line-height: 0;
		width: max-content;
		margin: 0 auto;
	}

/***********************************************************************
 * 5.0 Typography
 **********************************************************************/

	p {
		max-width: var(--paragaph-width);
	}

	.bold {
		font-weight: bold;
	}

	.x-small {
		font-size: x-small;
	}

	.small {
		font-size: small;
	}

	.medium {
		font-size: medium;
	}

	.larger {
		font-size: larger;
	}

	.xx-large {
		font-size: x-large;
	}

	.text-center {
		text-align: center;
	}

	.text-shadow {
		text-shadow: var(--shadow);
	}

/***********************************************************************
 * 6.0 Links
 **********************************************************************/

	a {
		color: inherit;
		font-weight: bold;
	}

	a:focus,
	a:hover {
		color: var(--gray);
	}

	.call-to-action {
		color: var(--white);
		background-color: var(--main-color);
		text-decoration: none;
	}

	.call-to-action:focus,
	.call-to-action:hover	{
		color: var(--white);
		box-shadow: var(--shadow);
	}

/***********************************************************************
 * 7.0 Colors, Borders, and Shading
 **********************************************************************/

	/*
	 * 7.1 Colors
	 */

		.black {
			color: var(--black);
		}

		.black > svg {
			fill: var(--black);
		}

		.white {
			color: var(--white);
		}

		.white > svg {
			fill: var(--white);
		}

		.gray {
			color: var(--gray);
		}

		#site_footer svg,
		.gray > svg {
			fill: var(--gray);
		}

		.light-gray {
			fill: var(--light-gray);
		}

		.main-color {
			color: var(--main-color);
		}

		.accent-color-1 {
			color: var(--accent-color-1);
		}

		.accent-color-2 {
			color: var(--accent-color-2);
		}

		.accent-color-3 {
			color: var(--accent-color-3);
		}

		.neutral {
			color: var(--neutral-color);
		}

		.background-gray {
			background-color: var(--light-gray);
		}

	/*
	 * 7.2 Borders
	 */

		.border {
			border: var(--base-unit-sixteenth) solid var(--gray);
		}

		.border-top {
			border-top: var(--base-unit-sixteenth) solid var(--gray);
		}

		.border-right {
			border-right: var(--base-unit-sixteenth) solid var(--gray);
		}

		.border-bottom {
			border-bottom: var(--base-unit-sixteenth) solid var(--gray);
		}

		.border-left {
			border-left: var(--base-unit-sixteenth) solid var(--gray);
		}

		.border-radius {
			border-radius: var(--base-unit);
		}

		.circular,
    .circular img {
			border-radius: 50%;
		}

	/*
	 * 7.3 Shading
	 */

		.shadow {
			box-shadow: var(--shadow);
		}

/***********************************************************************
 * 8.0 Media Queries
 **********************************************************************/

	@media screen and (min-width: 480px) {
		/* Make fonts slightly larger */
		html {
			font-size: 1.25em;
		}

		/* From x-large */
		.xx-large {
			font-size: xx-large;
		}
	}

  /* Wrap text around images on larger screens */
	@media screen and (min-width: 600px) {
    .float-left {
      float: left;
    }

    .half-width {
      width: var(--half-width);
    }

    .circular,
    .circular img {
        shape-outside: circle(50%);
    }
  }

	@media screen and (min-width: 960px) {
			/*
			 * @todo move section style to home.css
			 */
			#site_header,
		  #site_header div	{
				justify-content: space-between;
			}

			#site_footer > .flex:nth-child(1) {
				flex-direction: row;
			}

	}

	/* Size fonts dynamically on larger screens */
	@media screen and (min-width: 1100px) {
		html {
			font-size: 1.75vw;
		}
	}

/*
 * @todo Move to external maps-only stylesheet
 * Sizing for Google Maps
 * https://developers.google.com/maps/documentation/javascript/tutorial/
 */
#map {
	height: 37.125vmax; /* Map height must be explicit */
	width: 66ch;
	max-width: calc(100vw - var(--base-unit-4x));
}

.gm-style {
	font-family: Pittsbugh, sans-serif;
}

.logo > svg {
	height: auto;
	width: calc(var(--paragraph-width) / 3);
	max-width: 100vw;
	padding: var(--base-unit-2x);
}

.social-links svg {
	width: auto;
	height: 1.5em;
}

footer nav ul {
	list-style: none;
	margin: var(--base-unit-2x) 0;
	padding-left: 0;
}

footer nav ul li {
	margin: var(--base-unit) 0;
}

ul {
	list-style-image: url(/branding/images/astroid.svg);
	padding-left: 1.5em;
}

/*
 * @todo move to home
 */
#auxiliaries > div {
	position: relative;
}

#auxiliaries > div:after {
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
	z-index: -1;
}

#auxiliaries > div:nth-of-type(1):after {
  background-image: url(branding/images/bible-journal-and-coffee_320.jpg);
}

#auxiliaries > div:nth-of-type(2):after {
  background-image: url(branding/images/middle-east-map_320.jpg);
}

#auxiliaries > div:nth-of-type(3):after {
	background-position: bottom;
  background-image: url(branding/images/pghnyi-nyc-2019-work-and-witness_320.jpg);
}

.home #site_header {
	background-image: url(branding/images/10th-street-bridge-pittsburgh_1024.jpg);
}

@media screen and (min-width: 1025px) {
	.home #site_header {
		background-image: url(branding/images/10th-street-bridge-pittsburgh_2048.jpg);
	}
}

@media screen and (min-width: 2049px) {
	.home #site_header {
		background-image: url(branding/images/10th-street-bridge-pittsburgh.jpg);
	}
}

.margin-top {
	margin-top: var(--base-unit-2x);
}

.margin-right {
	margin-right: var(--base-unit-2x);
}

.margin-bottom {
	margin-bottom: var(--base-unit-2x);
}

/*
 * @todo to forms.css
 * Forms
 */
button {
	border: none;
	max-width: calc(25 * var(--base-unit));
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
}
